.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.align-center {
    align-items: center;
}
.align-start {
    align-items: start;
}
.align-end {
    align-items: end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}



.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.width-100 {
    width: 100%;
}
.fixed-top {
    position: fixed;
    top: 0;
}

/* Social icons Fontawesome before and after */
.social::before , .social::after {
    font-family: 'fontawesome';
}

.github-before::before {
    content : "\f09b"
}


.github-after::after {
    content : "\f09b"
}